@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome/Safari */
  }

  .custom-scrollbar {
    scrollbar-width: none; /* Hides scrollbar in Firefox */
  }

  .custom-scrollbar {
    -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
    overflow-y: auto; /* Enables scrolling */
  }
}

@layer components {
  .scrollbar-thin::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #0bd8c7;
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #e2e8f0;
  }
  /* Make sure that the container width is set to show only 3 cards at once */
.scroll-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%; /* Ensure full container width */
}

.project-card {
  width: calc(33.33% - 16px); /* Calculate width for 3 items */
}

}
